@charset "utf-8";

/* Google Webfont :
		1. 나눔고딕 - font-family: "Nanum Gothic", sans-serif;
		2. Roboto - font-family: 'Roboto', sans-serif;
		3. Open Sans - font-family: 'Open Sans', sans-serif;
		3. Roboto slab: 'Roboto Slab', serif;
 */
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');


/* Basic Reset */
*{ margin: 0; padding: 0; box-sizing: border-box; }

ol, ul{list-style: none;}
dl{ text-indent: 0; }

a{ color: #000; text-decoration: none; }

label, input{ vertical-align: middle; }


/* Font Reset */
body{
	font-size: 10px;
	font-family: "맑은 고딕", sans-serif;
}

h1, h2, h3, h4, h5, h6{ 
	margin: 0; padding: 0; font-family: "Nanum Gothic", sans-serif;
}

ul, ol, dl, table, form, p, address, blockquote{
	font-size: 1.4em;
	/* 폰트 사이즈 상대단위 설정 공식 :
	target / context = result   <-   14/10 = 1.4em */
}

p{ line-height: 1.5; }


/* help Class */
.clearfix:after{
	content: ''; display: block; clear: both;
}

.screen-hidden{
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
}

.ir{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

/* **************** Bootstrap Reset Setting ***************** */
.container{ padding: 0; }
.row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	margin: 0; padding: 0;
}